.app_table
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
}

.app_table_white
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	background-color: white;
}

.app_table_blue
{
	border-right: steelblue 1px solid;
	border-top: steelblue 1px solid;
	border-left: steelblue 1px solid;
	border-bottom: steelblue 1px solid;
}

.app_table_top
{
	border-top: silver 1px solid;
}

.app_table_shd
{
	border-right: dimgray 1px solid;
	border-top: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: dimgray 1px solid;
}

.app_table_shd_white
{
	border-right: dimgray 1px solid;
	border-top: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: dimgray 1px solid;
	background-color: white;	
}

.app_table_light
{
	border-right: gainsboro 1px solid;
	border-top: whitesmoke 1px solid;
	border-left: whitesmoke 1px solid;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: snow;
}

.app_table_white
{
	border-right: white 3px solid;
	border-top: white 3px solid;
	border-left: white 3px solid;
	border-bottom: white 3px solid;
	font-family: verdana,arial;
	background-color: snow;
}

.app_field
{
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 7pt;
	border-left: gainsboro 1px solid;
	color: black;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: white;
}

.app_err_field
{
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 9pt;
	border-left: gainsboro 1px solid;
	color: dimgray;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: ghostwhite;
}


.app_field_small
{
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 7pt;
	border-left: gainsboro 1px solid;
	color: dimgray;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: white;
}

.app_field_disabled
{
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 8pt;
	border-left: gainsboro 1px solid;
	color: dimgray;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: lightgrey;
}

.app_field_small_disabled
{
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 7pt;
	border-left: gainsboro 1px solid;
	color: dimgray;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: lightgrey;
}

.app_button
{
	border-right: azure 1px ridge;
	border-top: azure 1px ridge;
	font-size: 7pt;
	border-left: azure 1px ridge;
	border-bottom: azure 1px ridge;
	font-family: verdana,arial;
	background-color: whitesmoke;
	text-align: center;
}

.app_button:HOVER
{
	font-weight: bold;
}

.app_button_link
{
	border-right: azure 1px ridge;
	padding-right: 5px;
	border-top: azure 1px ridge;
	padding-left: 5px;
	font-size: 7pt;
	padding-bottom: 1px;
	border-left: azure 1px ridge;
	color: midnightblue;
	padding-top: 1px;
	border-bottom: azure 1px ridge;
	font-family: verdana,arial;
	background-color: whitesmoke;
	text-align: center;
	text-decoration: none;
}

.app_button_link:HOVER
{
	border-right: 1px inset;
	color: midnightblue;
	padding-right: 5px;
	border-top: 1px inset;
	padding-left: 5px;
	padding-bottom: 1px;
	border-left: 1px inset;
	padding-top: 1px;
	border-bottom: 1px inset;
	text-decoration: none;
}

.app_button_big
{
	border-right: azure 1px ridge;
	padding-right: 10px;
	border-top: azure 1px ridge;
	padding-left: 10px;
	font-size: 9pt;
	padding-bottom: 1px;
	border-left: azure 1px ridge;
	padding-top: 1px;
	border-bottom: azure 1px ridge;
	font-family: verdana,arial;
	background-color: whitesmoke;
	text-align: center;
	text-decoration: none;
}


.very_small_text_1
{
	font-size: 7pt;
	color: dimgray;
	font-family: verdana,arial;
	text-decoration: none;
}

.very_small_text_1:HOVER
{
	text-decoration: underline;
}

.small_link
{
	font-size: 7pt;
	color: royalblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.small_link:HOVER
{
	text-decoration: underline;
}

.small_text_1
{
	font-size: 8pt;
	color: darkslateblue;
	font-family: verdana, arial;
	text-decoration: none;
}

.small_text_1:HOVER
{
	text-decoration: underline;
}

.small_text_2
{
	font-size: 8pt;
	color: aliceblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.small_text_3
{
	font-size: 8pt;
	color: black;
	font-family: arial;
	text-decoration: none;
}

.small_text_3:HOVER
{
	text-decoration: underline;
}

.small_text_4
{
	font-size: 9pt;
	color: dimgray;
	font-family: Verdana, arial;
	text-decoration: none;
}

.text_header
{
	font-weight: bold;
	font-size: 11pt;
	color: black;
	font-family: verdana,arial;
	text-decoration: none;
}

.menu_header
{
	font-weight: bold;
	font-size: 9pt;
	color: black;
	font-family: verdana,arial;
	text-decoration: none;
}

.small_text_1_help
{
	font-size: 8pt;
	cursor: help;
	color: midnightblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.small_text_1_help:HOVER
{
	text-decoration: underline;
}

.text_window
{
	border-right: silver 1px solid;
	padding-right: 18px;
	border-top: silver 1px solid;
	padding-left: 18px;
	font-size: 8pt;
	padding-bottom: 0px;
	border-left: silver 1px solid;
	color: black;
	padding-top: 0px;
	border-bottom: silver 1px solid;
	font-family: verdana,arial;
	background-color: whitesmoke;
	text-decoration: none;
}

.text_window:HOVER
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	color: white;
	border-bottom: dimgray 1px solid;
	font-family: verdana,arial;
	background-color: darkgray;
}

.list_icon
{
	border-right: silver 1px ridge;
	border-top: silver 1px ridge;
	border-left: silver 1px ridge;
	border-bottom: silver 1px ridge;
}

.list_icon:HOVER
{
	border-right: dimgray 1px ridge;
	border-top: dimgray 1px ridge;
	border-left: dimgray 1px ridge;
	border-bottom: dimgray 1px ridge;
}

.list_text
{
	font-size: 8pt;
	cursor: help;
	color: black;
	font-family: verdana,arial;
	text-decoration: none;
}

.list_text:HOVER
{
	text-decoration: underline;
}

.list_text2
{
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
	text-decoration: none;
}

.list_text3
{
	font-size: 8pt;
	color: black;
	font-family: verdana,arial;
	text-decoration: none;
}

.list_text3:HOVER
{
	text-decoration: underline;
}

.list_header
{
	font-weight: bold;
	font-size: 9pt;
	color: #4b4b4b;
	font-family: verdana,arial;
	text-decoration: none;
}

.list_header_1
{
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
	text-decoration: none;
}

.list_reccount
{
	border-right: snow 1px solid;
	border-top: snow 1px solid;
	padding-left: 1px;
	font-size: 7pt;
	padding-bottom: 1px;
	border-left: snow 1px solid;
	color: dimgray;
	padding-top: 1px;
	border-bottom: snow 1px solid;
	font-family: verdana,arial;
	background-color: gainsboro;
}

.list_table
{
	border-right: gray 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 10pt;
	border-left: gainsboro 1px solid;
	border-bottom: gray 1px solid;
	font-family: verdana,arial;
	background-color: whitesmoke;
}

.list_table_dark
{
	border-right: dimgray 1px solid;
	border-top: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: dimgray 1px solid;
	font-family: verdana,arial;
	background-color: snow;
}

.list_text_money
{
	font-weight: bold;
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
}

.show_link
{
	font-size: 7pt;
	color: black;
	font-family: verdana,arial;
	text-decoration: none;
}

.show_link:HOVER
{
	text-decoration: underline;
}

.show_lbl
{
	font-size: 7pt;
	color: dimgray;
	font-family: verdana,arial;
}


.show_text_money
{
	font-weight: bold;
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
}

.show_section
{
	font-weight: bold;
	font-size: 7pt;
	vertical-align: sub;
	color: dimgray;
	font-family: verdana,arial;
	text-decoration: underline;
}

.search_text_link
{
	font-size: 8pt;
	color: midnightblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.search_text_link:HOVER
{
	text-decoration: underline;
}

.search_text_1
{
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
}

.cart_header
{
	font-size: 9pt;
	color: black;
	font-family: verdana,arial;
}

.cart_description
{
	font-size: 10pt;
	color: dimgray;
	font-family: verdana,arial;
}

.cart_small_text
{
	font-size: 7pt;
	color: red;
	font-family: verdana,arial;
}

.cart_text
{
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
}

.cart_link_button
{
	border-right: silver 1px solid;
	padding-right: 10px;
	border-top: silver 1px solid;
	padding-left: 10px;
	font-size: 8pt;
	padding-bottom: 0px;
	border-left: silver 1px solid;
	color: black;
	padding-top: 0px;
	border-bottom: silver 1px solid;
	font-family: verdana,arial;
	background-color: whitesmoke;
	text-decoration: none;
}

.cart_link_button:HOVER
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	color: white;
	border-bottom: dimgray 1px solid;
	font-family: verdana,arial;
	background-color: darkgray;
}

.cart_prices
{
	font-weight: bold;
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
}

.registration_text_1
{
	font-size: 8pt;
	color: dimgray;
	font-family: verdana,arial;
}

.button_back
{
	background-image: url(/pic/close.gif);
}

.menu_item_back
{
	background-color: snow;
}

.item_text_link
{
	font-weight: bold;
	font-size: 11pt;
	color: darkslateblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.item_text_link:HOVER
{
	text-decoration: underline;
}

.checkout_text_1
{
	font-size: 9pt;
	color: dimgray;
	font-family: verdana,arial;
}

.checkout_text_2
{
	font-size: 11pt;
	color: dimgray;
	font-family: verdana,arial;
}
.checkout_help
{
	font-size: 10pt;
	cursor: help;
	color: dimgray;
	font-family: verdana,arial;
	text-decoration: none;
}

.checkout_help:HOVER
{
	text-decoration: underline;
}

.checkout_vld
{
	font-weight: bold;
	font-size: 8pt;
	color: red;
	font-family: arial;
}

.checkout_disabled
{
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 10pt;
	border-left: gainsboro 1px solid;
	color: black;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: lightgrey;
}

.checkout_field
{
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	font-size: 9pt;
	border-left: gainsboro 1px solid;
	color: black;
	border-bottom: gainsboro 1px solid;
	font-family: verdana,arial;
	background-color: white;
}
	
.info_link
{
	font-size: 9pt;
	color: royalblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.info_link:HOVER
{
	text-decoration: underline;
}
	
.info_link_small
{
	font-size: 8pt;
	color: royalblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.info_link_small:HOVER
{
	text-decoration: underline;
}
	
.info_text
{
	font-size: 9pt;
	color: dimgray;
	font-family: verdana,arial;
}
	
.box_header
{
	font-size: 10pt;
	color: #000000;
	font-family: verdana,arial;
}

.box_items_header
{
	font-size: 9pt;
	color: dimgray;
	font-family: verdana,arial;
}

.box_text_small
{
	font-size: 8pt;
	color: dimgray;
	font-family: arial;
}

.box_text_link
{
	font-size: 8pt;
	color: royalblue;
	font-family: arial;
	text-decoration: none;
}

.box_text_link:HOVER
{
	text-decoration: underline;
}

.box_header_desc
{
	font-weight: bold;
	font-size: 10pt;
	color: dimgray;
	font-family: verdana,arial;
}

.box_table
{
	border-right: dimgray 1px solid;
	border-top: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: dimgray 1px solid;
	background-color: #ffffff;
}

.box_item_desc
{
	font-size: 7pt;
	color: dimgray;
	font-family: verdana,arial;
}

.map_header_link
{
	padding-right: 15px;
	padding-left: 15px;
	font-weight: bold;
	font-size: 9pt;
	color: white;
	font-family: verdana,arial;
	background-color: darkslateblue;
	text-decoration: none;
}

.map_header_link:HOVER
{
	padding-right: 15px;
	padding-left: 15px;
	font-size: 9pt;
	color: darkslateblue;
	font-family: verdana,arial;
	background-color: #ffffff;
	text-decoration: none;
}

.map_link
{
	font-size: 10pt;
	color: dimgray;
	font-family: verdana,arial;
	text-decoration: none;
}

.map_link:HOVER
{
	text-decoration: underline;	
}

.shp_text
{
	font-weight: bold;
	font-size: 10pt;
	color: dimgray;
	font-family: verdana,arial;
	text-decoration: none;
}

.shp_link
{
	font-weight: bold;
	font-size: 10pt;
	color: royalblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.shp_link:HOVER
{
	text-decoration: underline;	
}

.pages_link
{
	font-size: 9pt;
	color: royalblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.pages_link:HOVER
{
	text-decoration: underline;	
}

.links_text
{
	font-size: 7pt;
	color: dimgray;
	font-family: verdana,arial;
}

.links_category
{
	font-weight: bold;
	font-size: 7pt;
	color: dimgray;
	font-family: verdana,arial;
}

.links_link
{
	font-size: 8pt;
	font-weight: bold;
	color: royalblue;
	font-family: verdana,arial;
	text-decoration: none;
}

.links_link:HOVER
{
	text-decoration: underline;
}
